doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-heart__item
                        a(href="/admin/add-product") Add Product
        if prods.length == 0
            h1 No product!
        else
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src="https://media.istockphoto.com/photos/boook-picture-id155248096?b=1&k=20&m=155248096&s=170667a&w=0&h=Povq1PUuKbP1slfCurYPMSeqea9RtPcvbi-gSEFLXgw=")
                        .card__content
                            h2.product__price $19.99
                            p.product__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, illum.
                        .card_actions
                            button.btn Add to cart